:root {
  /* Primary */
  --clr-blue-950: hsl(213, 96%, 18%);
  --clr-purple-600: hsl(243, 100%, 62%);
  --clr-blue-300: hsl(228, 45%, 44%);
  --clr-blue-200: hsl(206, 94%, 87%);
  --clr-red-500: hsl(354, 84%, 57%);

  /* Neutral */
  --clr-grey-500: hsl(231, 11%, 63%);
  --clr-purple-200: hsl(229, 24%, 87%);
  --clr-blue-100: hsl(218, 100%, 97%);
  --clr-blue-50: hsl(231, 100%, 99%);
  --clr-white: hsl(0, 100%, 100%);

  /* Transitions */
  --transition-duration: 125ms;
  --transition-easing: ease-in-out;
}

html,
body {
  height: 100%;
  overflow: auto;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--clr-blue-50);
}

fieldset {
  border: none;
  padding: 0;
}

[hidden] {
  display: none !important;
}

.multi-step-form {
  margin-bottom: 6rem;
}

.step-indicator {
  margin-bottom: -4.5rem;
  height: 172px;
  background: url("../images/bg-sidebar-mobile.svg") center / cover;

  ol {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0 0 0;
    list-style: none;

    li {
      &:nth-child(1)::before {
        content: "1";
      }

      &:nth-child(2)::before {
        content: "2";
      }

      &:nth-child(3)::before {
        content: "3";
      }

      &:nth-child(4)::before {
        content: "4";
      }

      &::before {
        display: grid;
        place-items: center;
        width: 2rem;
        height: 2rem;
        font-size: 0.875rem;
        font-weight: 700;
        color: var(--clr-white);
        background-color: transparent;
        border: 1px solid var(--clr-white);
        border-radius: 50%;
        transition:
          background-color var(--transition-duration) var(--transition-easing),
          border-color var(--transition-duration) var(--transition-easing),
          color var(--transition-duration) var(--transition-easing);
      }

      &[aria-current="step"]::before {
        color: var(--clr-blue-950);
        background-color: var(--clr-blue-200);
        border-color: var(--clr-blue-300);
      }
    }
  }
}

.step-indicator__content {
  display: none;
}

.form-container {
  margin: 0 1rem;
  padding: 2rem 1.5rem;
  max-width: 500px;
  background-color: var(--clr-white);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  header {
    h1 {
      margin-bottom: 0.25rem;
      font-size: 1.5rem;
      color: var(--clr-blue-950);
    }

    p {
      color: var(--clr-grey-500);
    }
  }

  form {
    margin-top: 1.5rem;
    display: grid;
    gap: 1rem;
  }

  footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 -0.1rem 1rem rgba(0, 0, 0, 0.05);

    & button[type="submit"] {
      margin-left: auto;
    }
  }
}

.form-control {
  display: grid;

  label {
    font-size: 0.75rem;
    color: var(--clr-blue-950);
  }

  input {
    padding: 0.4rem 0.8rem;
    border: 1px solid var(--clr-purple-200);
    border-radius: 0.25rem;
    outline: 1px solid transparent;
    transition:
      outline-color var(--transition-duration) var(--transition-easing),
      border-color var(--transition-duration) var(--transition-easing);

    &[aria-invalid="true"] {
      border-color: var(--clr-red-500);
    }

    &::placeholder {
      color: var(--clr-grey-500);
      font-size: 0.875rem;
      font-weight: 500;
    }

    &:focus-visible,
    &:hover {
      outline: 1px solid var(--clr-purple-600);
    }
  }
}

.form-control__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.form-control__error-message {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--clr-red-500);
}

.btn-primary {
  padding: 0.5rem 1rem;
  color: var(--clr-blue-50);
  font-size: 0.875rem;
  font-weight: 500;
  background-color: var(--clr-blue-950);
  border: none;
  border-radius: 0.25rem;
  transition: background-color var(--transition-duration)
    var(--transition-easing);

  &:focus-visible,
  &:hover {
    background-color: var(--clr-blue-300);
  }

  &:active {
    background-color: var(--clr-purple-600);
  }

  &:disabled {
    background-color: var(--clr-purple-200);
  }
}

.btn-ghost {
  padding: 0.5rem 1rem;
  border: none;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--clr-grey-500);
  background-color: transparent;
  transition: color var(--transition-duration) var(--transition-easing);

  &:focus-visible,
  &:hover {
    color: var(--clr-blue-300);
  }

  &:active {
    color: var(--clr-purple-600);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#step-2-form {
  display: flex;
  flex-direction: column-reverse;
}

.billing-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 0.75rem;
  background-color: var(--clr-blue-50);

  input:checked + label {
    color: var(--clr-blue-950);
  }

  input:focus + label,
  label:hover {
    color: var(--clr-purple-600);
  }

  label:active {
    color: var(--clr-blue-950);
  }

  label {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--clr-grey-500);
  }
}

.billing-type__indicator {
  position: relative;
  width: 2.5rem;
  height: 1.25rem;
  background-color: var(--clr-blue-950);
  border-radius: 1rem;

  &::before {
    content: "";
    position: absolute;
    top: 0.25rem;
    left: 1.5rem;
    width: 0.75rem;
    height: 0.75rem;
    background-color: var(--clr-white);
    border-radius: 50%;
    transition: left var(--transition-duration) var(--transition-easing);
  }
}

input:checked + label + .billing-type__indicator::before {
  left: 0.25rem;
}

.plan {
  display: grid;
  gap: 0.75rem;

  label {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--clr-purple-200);
    border-radius: 0.5rem;
    transition:
      border-color var(--transition-duration) var(--transition-easing),
      background-color var(--transition-duration) var(--transition-easing);

    &::before {
      content: "";
      width: 2.5rem;
      height: 2.5rem;
      background-position: center;
      background-size: contain;
    }

    &[for="plan-arcade"]::before {
      background-image: url("../images/icon-arcade.svg");
    }

    &[for="plan-advanced"]::before {
      background-image: url("../images/icon-advanced.svg");
    }

    &[for="plan-pro"]::before {
      background-image: url("../images/icon-pro.svg");
    }
  }

  input:checked + label {
    background-color: var(--clr-blue-50);
    border-color: var(--clr-purple-600);
  }

  input:focus + label,
  label:hover {
    background-color: transparent;
    border-color: var(--clr-purple-600);
  }
}

.plan__content {
  display: grid;
}

.plan__content__name {
  font-weight: 500;
  color: var(--clr-blue-950);
}

.plan__content__price {
  font-size: 0.875rem;
  color: var(--clr-grey-500);
}

.plan__content__savings {
  font-size: 0.75rem;
  color: var(--clr-blue-950);
}

.add-ons {
  display: grid;
  gap: 0.75rem;

  label {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    align-items: center;
    padding: 0.6rem 1rem;
    border: 1px solid var(--clr-purple-200);
    border-radius: 0.5rem;
    transition:
      border-color var(--transition-duration) var(--transition-easing),
      background-color var(--transition-duration) var(--transition-easing);

    &::before {
      content: "";
      width: 1.3rem;
      height: 1.3rem;
      border: 1px solid var(--clr-purple-200);
      border-radius: 0.25rem;
    }
  }

  input:checked + label {
    border-color: var(--clr-purple-600);
    background-color: var(--clr-blue-50);

    &::before {
      background:
        url("../images/icon-checkmark.svg") center / 60% no-repeat,
        linear-gradient(var(--clr-purple-600), var(--clr-purple-600) 0 0);
    }
  }

  input:focus + label,
  label:hover {
    border-color: var(--clr-purple-600);
    background-color: transparent !important;
  }
}

.add-ons__text-content {
  display: grid;
}

.add-ons__text-content__name {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--clr-blue-950);
}

.add-ons__text-content__description {
  font-size: 0.75rem;
  color: var(--clr-grey-500);
}

.add-ons__price {
  font-size: 0.75rem;
  color: var(--clr-purple-600);
}

/* max width of container + necessary fixed margin for xs screens */
@media (min-width: calc(500px + 2 * 1rem)) {
  .form-container {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  body {
    display: grid;
    place-items: center;
  }

  .multi-step-form {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    max-width: 900px;
    max-height: 600px;
    padding: 1rem;
    background-color: var(--clr-white);
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }

  .step-indicator {
    margin: 0;
    min-width: 250px;
    min-height: 568px;
    background: url("../images/bg-sidebar-desktop.svg") center / cover;
    border-radius: 0.5rem;

    ol {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;
      padding: 3rem 0 0 2rem;

      & > li {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }

  .step-indicator__content {
    display: grid;
    color: var(--clr-blue-50);
    text-transform: uppercase;
  }

  .step-indicator__count {
    font-size: 0.7rem;
    color: var(--clr-grey-500);
  }

  .step-indicator__title {
    font-size: 0.75rem;
    font-weight: 700;
  }

  .form-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 2rem 2.5rem 1rem;
    box-shadow: none;

    footer {
      margin-top: auto;
      position: static;
      padding: 0;
      background-color: transparent;
      box-shadow: none;
    }
  }

  .plan {
    grid-template-columns: repeat(3, 1fr);

    label {
      grid-template-columns: auto;
      gap: 2rem;
    }
  }
}
